/*region Deck page*/

.deck-view-page {
    position: relative;

    height: 100%;
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
}

/*endregion*/


/*region Description*/

.deck-cards {
    position: relative;
    
    grid-row: 1;
    
    padding: 8px;
    
    display: flex;
    flex-direction: row;
}


.deck-cards-1 {
    position: relative;

    width: 534px;
    height: 295px;
    
    overflow: hidden;
}

.deck-cards-1__img {
    position: absolute;

    width: 1920px;
    height: 1080px;
    object-fit: contain;

    top: -347px;
    left: -681px;
}

.deck-cards-2 {
    position: relative;

    width: 530px;
    height: 295px;
    
    overflow: hidden;
}

.deck-cards-2__img {
    position: absolute;

    width: 1920px;
    height: 1080px;
    object-fit: contain;

    top: -637px;
    left: -685px;
}


.deck-cards__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-image: url('img/frame-9slice.svg') 8 8 8 8 fill / 8px 8px 8px 8px;
    
    pointer-events: none;
}

/*endregion*/


/*region Deck uploader*/

.deck-uploader {
    grid-row: 3;
    
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.deck-uploader__button {
    padding: 6px 12px;
    
    font-family: var(--font-bold), sans-serif;
    font-size: 1rem;
    
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    
    border: none;
    border-radius: var(--radius-s);
    
    cursor: pointer;
}

.deck-uploader__message {
    margin-left: 8px;
    color: #6aa84f;
}

/*endregion*/












.deck-energy,


.deck-energy {
    top: 598px;
    left: 609px;
    width: 235px;
    height: 95px;
    transform: scale(0.9);
}

.deck-energy img {
    position: absolute;
    top: -455px;
    left: -2125px;
}


