/*region Deck page*/

.deck-view-page {
    position: relative;

    height: 100%;
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
}

/*endregion*/


/*region Deck Cards*/

.deck-cards {
    position: relative;
    
    grid-row: 1;
    
    padding: 8px;
    
    display: flex;
    flex-direction: row;
}


.deck-cards-1 {
    position: relative;

    width: 534px;
    height: 295px;
    
    overflow: hidden;
}

.deck-cards-1__img {
    position: absolute;

    width: 1920px;
    height: 1080px;
    object-fit: contain;

    top: -328px;
    left: -681px;

    image-rendering: pixelated;
}

.deck-cards-2 {
    position: relative;

    width: 530px;
    height: 295px;
    
    overflow: hidden;
}

.deck-cards-2__img {
    position: absolute;

    width: 1920px;
    height: 1080px;
    object-fit: contain;

    top: -619px;
    left: -685px;

    image-rendering: pixelated;
}


.deck-energy {
    position: absolute;

    padding: 8px;

    top: 250px;
    left: 950px;
}

.deck-energy-energies {
    position: relative;
    
    width: 114px;
    height: 45px;

    overflow: hidden;
    z-index: 1;
}

.deck-energy-energies__img {
    position: absolute;

    width: 1920px;
    height: 1080px;
    object-fit: contain;

    top: -230px;
    left: -1064px;

    image-rendering: pixelated;
}

.deck-energy__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-image: url('img/frame-9slice.svg') 8 8 8 8 fill / 8px 8px 8px 8px;

    pointer-events: none;
}


.deck-cards__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-image: url('img/frame-9slice.svg') 8 8 8 8 fill / 8px 8px 8px 8px;
    
    pointer-events: none;
}

/*endregion*/


/*region Deck uploader*/

.deck-uploader {
    grid-row: 3;
    
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.deck-uploader__button {
    padding: 6px 12px;
    
    font-family: var(--font-bold), sans-serif;
    font-size: 1rem;
    
    background-color: var(--color-primary);
    color: var(--color-on-primary);
    
    border: none;
    border-radius: var(--radius-s);
    
    cursor: pointer;
}

.deck-uploader__message {
    margin-left: 8px;
    color: #6aa84f;
}

/*endregion*/
