/* region Rank container */

.rank-container {
    position: relative;

    width: 675px;
    height: 800px;
    
    font-family: var(--font-bold), sans-serif;

    display: grid;
    grid-template-columns: auto 1fr;
    
    background-color: transparent;
}

/*endregion*/


/* region Rank Stats */

.rank-stats {
    grid-column: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.8rem;

    box-sizing: border-box;
}


.rank-stat {
    width: 13em;

    padding: 10px 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    border-image: url('img/stat-bg.svg') 10 10 10 10 fill / 10px 10px 10px 10px;

    text-shadow: var(--shadow-m);
}

.rank-stat--large {
    width: 19em;
}

.rank-stat__value {
    font-family: var(--font-bold), sans-serif;
    font-size: 3.6rem;
    text-align: center;
    
    color: var(--color-bg);
}

.rank-stat__txt {
    font-family: var(--font-bold), sans-serif;
    font-size: 1.7rem;
    text-align: center;
    
    color: var(--color-bg-light);
}

/*endregion*/


/* region Rank */
 
.rank {
    grid-column: 2;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    box-sizing: border-box;
}

.rank__icon {
    width: 230px;
    height: 230px;
}


.rank-name {
    padding: 6px 32px;
    box-sizing: border-box;

    border-image: url('img/rank-background.svg') 10 10 10 10 fill / 18px 18px 18px 18px;
}

.rank-name__value {
    font-family: var(--font-bold), sans-serif;
    font-size: 2.5rem;
    color: var(--color-bg);

    text-align: center;
}

/*endregion*/


/* region Rank Points */

.rank-points {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.rank-points-remaining {
    width: 100%;
    text-align: center;

    font-family: var(--font-bold), sans-serif;
    font-size: 1.8rem;

    color: var(--color-text);
}

.rank-points-remaining--color-gretter {
    color: var(--color-success);
}


.rank-points-remaining-value {
    width: 100%;
    text-align: center;

    margin-top: 0.1em;

    font-family: var(--font-bold), sans-serif;
    font-size: 2.8rem;
    
    background: var(--color-primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.rank-container__points {
    width: 100%;

    margin-top: 4rem;

    font-family: var(--font-bold), sans-serif;
    font-size: 7rem;
    color: var(--bg);

    text-align: center;
}

/*endregion*/


